<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="utf-8" />
  <meta name="description" content="The Overflowing church website's main page" />
  <meta name="author" content="unikys@gmail.com" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" title="style" />
  <link rel="stylesheet" type="text/css" href="/css/menu1_sub.css" title="style" />
  <title>전주신상교회</title>
</head>

<body class="fullpage">
  <div class="wrap">
    <% include ../header.ejs %>

    <div class="sub-wrap">
      <% include ./menu5_index.ejs %>

      <div class="sub-content">
        <table class="content-table">
          <tbody>
            <tr>
              <td height="90" valign="top">
                <div class="table-title">자유게시판</div>
              </td>
            </tr>
          </tbody>
        </table>

        <p>
          <table>
            <tr>
              <th>번호</th>
              <th>제목</th>
              <th>글쓴이</th>
              <th>날짜</th>
              <th>조회</th>
            </tr>
        <% if(posts){
          for(var i = 0; i < posts.length; i++){
            var post = posts[i]; %>
            <tr>
              <td><%= post.id %></td>
              <td><a href="/menu/5/2/<%= post.id %>"><%= post.title %></a></td>
              <td><%= post.userid %></td>
              <td><%= post.written %></td>
              <td><%= post.views %></td>
            </tr>
        <% }
        } else { %>
            <tr>
              <td colspan='5'>작성된 글이 없습니다.</td>
            </tr>
        <% } %>
          </table>
        </p>

        <p>
          <a href='javascript: location.href = location.href + "/post"'>글쓰기</a>
        </p>

      </div>
    </div>
  </div>
</body>

</html>
